{% extends "base.html" %}
{% load static %}
{% block title %}Ma page d'accueil{% endblock %}
{% load l10n %}

{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">{{ user_profile }}
                    {% if user_profile.user.id == user.id %}
                        <a href="{% url "update_user_profile" user_profile.id %}" class="btn btn-info" title=">Mettre à jour mon profil">Mettre à jour mon profil</a>
                    {% endif %}
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
                    <img src="{{ user_profile.image.url }}" class="img-circle img-responsive center-block" alt="Image de profil" />
            </div>
            <div class="col-md-5">
            </div>
        </div>
         <hr>
        <div class="row">
            <div class="col-md-12">
                {% for message in  messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger">
                            <p>
                                {{ message }}
                            </p>
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            <p>
                               {{ message }}.
                            </p>
                        </div>
                        {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <p><b>Prénom :</b> {{ user_profile.first_name }}</p>
                <p><b>Nom :</b> {{ user_profile.last_name }}</p>
                <p><b>Présentation :</b> {{ user_profile.presentation }}</p>
                <p><b>Date d'inscription :</b> Le {{ user_profile.registration_date|date:"d/m/Y" }} à {{ user_profile.registration_date|date:"H:i:s" }}</p>
            </div>
            <div class="col-md-7">
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
{% endblock %}
