{% extends "base.html" %}
{% load static %}
{% block title %}Ma page d'accueil{% endblock %}
{% load l10n %}

{% block content %}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Suppression du profil</h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
         <hr>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <p>Êtes-vous sûr de vouloir supprimer votre profil ?</p>
                <form action="{% url 'delete_profile' profile.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Supprimer" />
                </form>
            </div>
            <div class="col-md-7">
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
{% endblock %}
